@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
}
:root {
  /* Font Variables */
  --font: 'Baloo 2', cursive;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  /* Colors Variables */
  --purple-dark: #4C0027;
  --purple-medium: #570530;
  --purple-shine: #750550;
  --purple-light: #980F5A;
  --background-gradient: linear-gradient(190deg, var(--purple-dark), var(--purple-light));
}
html, body {
height: 100%;
font-family: var(--font);
font-weight: var(--font-regular);
}
body {
font-size:62.5%;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
p{
  font-size: 1.4rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: var( --font-medium);
  font-size: 1.8rem;
}
#root, #__next {
isolation: isolate;
}